.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:20px
}

.movie-wrapper {
width: 500px;
color: black;
background-color: antiquewhite;
}

.movie-search {
  height: 60px;
  font-size: 24px;
  margin-bottom: 35px;
  padding: 20px;
  font-weight: bold;
  width: 450px;
}

.movie-title {
  height: 60px;
  margin-top:30px;
  font-weight: bold;
}

.movie-date {
  font-style: italic;
}

.movie-rating {
  color: red;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: underline;
}